<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScheduleLookup.Properties.Settings.ScheduleLookup30ConnectionString"
            connectionString="Data Source=titan.csse.rose-hulman.edu;Initial Catalog=ScheduleLookup30;Persist Security Info=True;User ID=pinksta1;Password=$Almtbx008"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>